.navbar-header .navbar-toggle {
  margin-top: 12px;
  margin-bottom: 0;
}

.navmenu-inverse .navbar-nav li a {
  color: $navbar-inverse-link-color;
  &:hover, &:active {
    color: $navbar-inverse-link-hover-color;
  }
}

.navbar-inverse {
  .navbar-toggle {
    color: $navbar-inverse-link-hover-color;
    &.collapsed {
      color: $navbar-inverse-link-color;
      &:hover, &:active {
        color: $navbar-inverse-link-hover-color;
      }
    }
  }
  .input-group-addon {
    color: $navbar-inverse-link-color;
  }
}

.navmenu-inverse, .navbar-inverse .navbar-offcanvas {
  background-color: $navbar-inverse-bg;
  border-color: $navbar-inverse-border;
}

.navbar-offcanvas {
  left: 100%;
  width: 100%;

  &.in {
    width: 100%;
  }

  .navbar-form {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .navbar-nav.navbar-right:last-child {
    margin-right: 0;
  }

}

#header-menu, .offcanvas-sidebar {

  .search-form {

    .btn-back-offcanvas {
      @extend .pull-left;
      padding-top: $padding-base-vertical + 1px ;
      display: none;
    }

    .search {
      .input-group-addon {
        cursor: pointer;
        @include transition(all 0.2s);
        &:hover, &:active {
          color: $navbar-inverse-link-hover-color;
        }
      }

      input[type='text'] {
        @include transition(all 0.2s);

        @media (min-width: $screen-sm-min) {
          width: 0;
          &.show {
            width: $header-search-input-size;
          }
        }
      }

    }

  }

  ul.language ul.dropdown-menu {
    text-align: right;
    min-width: 92px;
  }


  @media (max-width: $screen-xs-max) {
    .search-form {
      margin: 0 20px;
      border: 0;
      box-shadow: none;
      .btn-back-offcanvas {
        display: inline-block;
      }
    }

    ul.navbar-nav {
      text-align: center;
      margin: 10px 0;
      ul.dropdown-menu {
        text-align: center;
        li > a {
          padding: 0;
        }
      }
    }

    ul.language {
      position: absolute;
      bottom: 20px;
      width: 100%;

      li a.dropdown-toggle {
        display: none;
      }

      ul.dropdown-menu {
        display: block;
        position: relative;
        float: none;
        background-color: transparent;
        box-shadow: none;
        max-width: 200px;
        margin: 0 auto;
        li {
          width: 50%;
          float: left;
          padding: 0;
          text-align: center;
        }
        a {
          color: $navbar-inverse-link-color;
          &:hover, &:active {
            color: $navbar-inverse-link-hover-color;
            background-color: $navbar-inverse-bg;
            border-color: $navbar-inverse-border;
          }
        }
      }
    }

  }
}

.offcanvas-sidebar {
  right: 100%;
  width: 100%;

  &.in {
    width: 100%;
  }

  @media (min-width: $screen-sm-min) {
    display: none;
  }

  .search-form {
    margin: 0 5px;
  }

}

.has-navbar-top{
	//padding-top: $navbar-height ;
}

.has-admin-bar {

	.navbar-top {
		position: absolute;
		width: 100% ;
	}

	.navbar-fixed-top {
		top: 32px ;
	}

	&.vc_editor .navbar-fixed-top {
		top: 0 ;
	}

	&.has-navbar-top {
		// nope
	}
}

.navbar-top {
	position: absolute;
	width: 100% ;
	margin-bottom: 0 ;
	border-radius: 0;
	z-index: $zindex-navbar-fixed ;
}

.navbar-right {
	margin-right: 0;
}

// .collapse.in{
// 	.navbar-nav{
// 		margin: 6.25px -12px !important;
// 	}
// 	.navbar-form{
// 		margin: 0;
// 	}
// 	.navbar-right {
// 		margin-right: 0;
// 	}
// }

.navbar-center
{
	position: absolute;
	width: 100%;
	left: 0;
	text-align: center;
	margin: auto;

	& > li {
		float: none ;
		display: inline-block;
		vertical-align: middle ;

		.navbar-brand {
			.navbar > .container &,
			.navbar > .container-fluid & {
				width: 100% ;
				margin-left: 0;
			}
		}

		.navbar-logo {
			padding: 0 ;
			img {
				max-height: 32px ;
			}
		}
	}
}

footer {
	.navbar-text {
		margin-top: $footer-margin-top-fix ;
		.glyphicon, .fa {
			margin-left: 10px ;
		}
	}

	ul.language-chooser {
		@extend .nav;
		@extend .navbar-nav;
		text-transform: lowercase;
	}

}

/*--------------------------------------------------------------
# Bootstrap recursive menu
--------------------------------------------------------------*/
.site-navigation{
	&.navbar-default .navbar-nav>li>ul>li.menu-item-has-children {
		position: relative;
	}
	&.navbar-default .navbar-nav>li>ul>li.menu-item-has-children>ul {
		position: absolute;
		top: 0px;
		left: 100%;
	}
	&.navbar-default .navbar-nav>li>ul>li.menu-item-has-children:hover>ul {
		display: block;
	}
}
