extends ../layouts/static

block content
  #page.site.has-navbar-top
    header#masthead.site-header(role='banner')
      nav.navbar.navbar-default.navbar-fixed-top
        .container
          ul.nav.navbar-nav
            li
              a.navbar-brand(href='#') logo
          
          ul.nav.navbar-nav
            li
              a(href='#') menu
            li
              a(href='#') menu
            li
              a(href='#') menu
              
          form.navbar-form.navbar-right.search-form(role='search',method='get',action='/')
            .form-group
              input.form-control.search-field(type='text',name='s',title='Search',placeholder='Search')
            button.btn.btn-default.search-submit(type='submit')
              i.fa.fa-search
    
    article.page
      h2 Title
      p
        | Proactively envisioned multimedia based expertise and cross-media growth strategies. Seamlessly visualize quality intellectual capital without superior collaboration and idea-sharing. Holistically pontificate installed base portals after maintainable products.
  
  // footer is OUT of the #page.site container  
  footer
    .container
      .row
        .col-xs-12.col-md-4.footer-text
          | hello &copy; 2015 - MIT Licence
        
        .col-xs-12.col-md-4
          nav.navbar.navbar-inverse
            ul.nav.navbar-nav.navbar-center
              li
                a(href='#') english
              li
                a(href='#') français
              li
                a(href='#') 日本語
              li
                a(href='#') español
              
        .col-xs-12.col-md-4
          nav.navbar.navbar-inverse
            ul.nav.navbar-nav.navbar-right
              li
                a(href='#') menu
              li
                a(href='#') menu
              li
                a(href='#') menu
