.media.contact {
  color: map-get( $palette, "main" );
  .media-object {

  }
  .media-body p {
    display: inline-block;
    margin-bottom: 0;
    &.soft-wrap {
      white-space: nowrap;
    }
  }
}
