/*
 * Fix for BS3_Walker_Nav_Menu
 * http://www.ordinarycoder.com/wordpress-bootstrap-3-with-wp_nav_menu/
 *
 */

.navbar-default .navbar-nav>li>ul>li.menu-item-has-children {
	position: relative;
}

.navbar-default .navbar-nav>li>ul>li.menu-item-has-children>ul {
	position: absolute;
	top: 0px;
	left: 100%;
}
.navbar-default .navbar-nav>li>ul>li.menu-item-has-children:hover>ul {
	display: block;
}
