// Glyphicons font path
$icon-font-path: "../fonts/" !default;
$fa-font-path: "../fonts" !default;

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #27ae60;

$palette: (
  "color-inverse" : #172D3C ,
  "color-inverse-text" : white ,
  "color-alt" : #E95C30 ,
  "color-alt-text" : white,
  "color-gray" : #E5E5DD,
  "color-gray-info" : #bce0fc
);

// USAGE : map-get( $palette, "color-dark-gray" );

$text-inverse-color: fade-out(map-get( $palette, "color-inverse-text" ),0.3);

$gray-lighter: map-get( $palette, "color-gray" );

$brand-primary: map-get( $palette, "color-inverse" );
$brand-info: #2196F3;
$state-info-bg: map-get( $palette, "color-gray-info" );

$navbar-inverse-link-color: $text-inverse-color;
$navbar-inverse-link-active-bg: darken($brand-primary, 5%);

$jumbotron-bg: $gray-lighter;

$spacer-vertical: 50px ;
$slider-height: 512px ;

$footer-margin-top-fix: 15.5px ;
$footer-height: 200px;

$header-search-input-size: 200px;
