/*
 * Header Navigation
 *
 */

.nav-primary {

	text-align: center;
	border-bottom: 2px solid map-get( $palette, "alt" ) ;

	.logo {
		display: inline-block;
		float: left;
		margin: 0 auto ;
	}

	.logo img {
		margin: $padding-large-vertical 0 ;
	}

	.slogan {
		margin-top: $padding-large-vertical;
		text-align: left;
		color: $navbar-inverse-color;
		font-size: 110%;
		line-height: 30px;
		min-height: 50px;
		letter-spacing: 1px;

		span {
			display: inline-block;
			padding: $nav-link-padding ;
		}
	}

	.nav-helper {

		.navbar-nav {
			display: inline-block;
		}

	}

	@media (max-width: $grid-float-breakpoint-max) {
		.logo {
			float: none;
		}
		.nav-helper {
			position: absolute;
			height: 75px;
			right: 15px;
			top: 0 ;
			.navbar-nav {
				li > a {
					$fix-pad : ( $input-height-base - $line-height-computed - 2 ) / 2 ;
					padding-top: $fix-pad;
					padding-bottom: $fix-pad;
				}
			}
			.navbar-btn {
				vertical-align: baseline;
			}
		}
	}

}

.navbar-primary {

	.navbar-nav {
		margin: 5px 15px 0 ;

		& > li > a {
			background-color: map-get( $palette, "alt" );
			color: darken(map-get( $palette, "alt" ), 35%);
			font-weight: 400;
			padding: 2px 15px 0;

			&:hover {
				background-color: darken(map-get( $palette, "alt" ), 30%);
				color: map-get( $palette, "alt-light" );
			}
		}

	}
}
